In [1]:
import pandas as pd

### Reading CSV

In [5]:
pwd

'G:\\AI\\Bytewise fellowship\\TASKS\\Task14'

In [9]:
df = pd.read_csv('movie_scores.csv')
df

  first_name last_name   age  sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0    m              8.0              10.0
1        NaN       NaN   NaN  NaN              NaN               NaN
2       Hugh   Jackman  51.0    m              NaN               NaN
3      Oprah   Winfrey  66.0    f              6.0               8.0
4       Emma     Stone  31.0    f              7.0               9.0