# Combining Data frames

In [2]:
import pandas as pd

In [3]:
registrations = pd.DataFrame({'reg_id':[1,2,3,4],'name':['Andrew','Bobo','Claire','David']})
logins = pd.DataFrame({'log_id':[1,2,3,4],'name':['Xavier','Andrew','Yolanda','Bobo']})

In [6]:
print(registrations, '\n')
print(logins)

   reg_id    name
0       1  Andrew
1       2    Bobo
2       3  Claire
3       4   David

   log_id     name
0       1   Xavier
1       2   Andrew
2       3  Yolanda
3       4     Bobo

###### Concat

In [7]:
print(pd.concat([registrations,logins],axis =1))

   reg_id    name  log_id     name
0       1  Andrew       1   Xavier
1       2    Bobo       2   Andrew
2       3  Claire       3  Yolanda
3       4   David       4     Bobo

In [8]:
print(pd.concat([registrations,logins],axis =0))

   reg_id     name  log_id
0     1.0   Andrew     NaN
1     2.0     Bobo     NaN
2     3.0   Claire     NaN
3     4.0    David     NaN
0     NaN   Xavier     1.0
1     NaN   Andrew     2.0
2     NaN  Yolanda     3.0
3     NaN     Bobo     4.0

In [9]:
print(pd.concat([registrations,logins]))

   reg_id     name  log_id
0     1.0   Andrew     NaN
1     2.0     Bobo     NaN
2     3.0   Claire     NaN
3     4.0    David     NaN
0     NaN   Xavier     1.0
1     NaN   Andrew     2.0
2     NaN  Yolanda     3.0
3     NaN     Bobo     4.0

###### Merging