## 1. Enumerate() Function

Enumerate() method adds a counter to an iterable and returns it in a form of enumerating object Often, when dealing with iterators, we also get need to keep a count of iterations. Python eases the programmersâ€™ task by providing a built-in function enumerate() for this task.

In [25]:
l1=['Zero','One','Two']
l1

['Zero', 'One', 'Two']

In [30]:
enum=enumerate(l1)
enum_lst= (list(enum))
print(enum_lst)

[(2, 'Zero'), (3, 'One'), (4, 'Two')]

In [29]:
for i in enum_lst:
    print(i)

(0, 'Zero')
(1, 'One')
(2, 'Two')

#### changing start index to 10 from 0

In [33]:
enum=enumerate(l1,10)
print(list(enum))

[(10, 'Zero'), (11, 'One'), (12, 'Two')]

#### using with loops

In [35]:
for count, ele in enumerate(l1):
    print(count)
    print (ele)

0
Zero
1
One
2
Two

## 2. Timing your code

It's a method of measuring the execution time of your python code snippets, using an in-built python library timeit.

In [105]:
import timeit
c1='''
t1=(1,2,3)
'''
l1=[1,2,3]

c2 ='''
l2=list()
'''
print (timeit.timeit(stmt = c1, number = 10000))
print (timeit.timeit(stmt = c2, number = 10000))

0.00043290000030538067
0.002570200000263867

In [32]:
mysetup = "from math import sqrt"
 
mycode = '''
def example():
    mylist = []
    for x in range(100):
        mylist.append(sqrt(x))
'''
 
print (timeit.timeit(setup = mysetup,
                     stmt = mycode,
                     number = 1000))

0.00025909999999385036

## 3. Taking Input

In [42]:
n1=input("Enter number: ")

Enter number: 12

In [43]:
n1+1

TypeError: can only concatenate str (not "int") to str

#### It's because n1 is a variable that will get the string value, typed by the user during the execution of the program.

In [45]:
n1=int(input("Enter number: "))

Enter number: 12

In [46]:
n1+2

14

In [47]:
Name = input("Enter your name: ")

Enter your name: Muhammad Danial Aslam

In [54]:
# taking list as input
l=[]
for i in range(1,5):
    n=int(input("Enter Number: "))
    l.append(n)
    print(n*n)
    
print(l)

Enter Number: 1
1
Enter Number: 2
4
Enter Number: 3
9
Enter Number: 4
16
[1, 2, 3, 4]

## 4. Conditionals

In [55]:
if (5>6):
    print('Y')
else: 
    print ('No')

No

In [56]:
if (5>6):
    print('1')
elif (6>5) : 
    print (2)

2

In [62]:
if (5>6):
    print('1')
elif (6==5) : 
    print (2)
else: print (3)

3

In [63]:
if (6>5) and (5>4):
    print('Yes')

Yes

In [67]:
if (6>5) or (1>4):
    print('Yes')

Yes

In [69]:
if (6<5) or (1>4):
    print('Yes')
else:
    print('NO')

NO

In [93]:
name = 'asd'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Joe':
    print('Hello Joe')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

I don't know who you are!

In [71]:
#Short Hand If ... Else
a = 2
b = 330
print("A") if a > b else print("B")

B

# 5. Sets

In [73]:
name = {'ali','isra','asad'}
name

{'ali', 'asad', 'isra'}

In [77]:
name.add('iqra')
name.add('arif')
name.add('beef')
name

{'ali', 'arif', 'asad', 'beef', 'iqra', 'isra'}

In [80]:
l1=[1,2,3]
num= frozenset(l1)
num

frozenset({1, 2, 3})

In [81]:
num.add(2)

AttributeError: 'frozenset' object has no attribute 'add'

#### Can't add to frozen sets

### Union

In [87]:
s1={1,2,2,9}
s2={4,5,6,2,4}
s3={91,81}
num=s1|s2|s3
num

{1, 2, 4, 5, 6, 9, 81, 91}

In [86]:
num = s1.union(s2)
num

{1, 2, 4, 5, 6, 9}

In [89]:
st1 = {'ali', 'iqra'}
st2 = {'ali','asad'}
print(st1|st2)

{'asad', 'ali', 'iqra'}

### Intersection

In [90]:
print(s1.intersection(s2))

{2}

In [91]:
print(st1.intersection(st2))

{'ali'}

### Difference

In [94]:
print(s1-s2)

{1, 9}

In [95]:
print(st1-st2)

{'iqra'}

### Symmetric Difference

In [96]:
print(s1^s2)

{1, 4, 5, 6, 9}

In [97]:
print(st1^st2)

{'asad', 'iqra'}

###  Making Data Unique with Sets

In [101]:
l=[1,1,1,2,2,2,3,4,3,3,4,4,5]
s=set(l)
s

{1, 2, 3, 4, 5}