In [1]:
import pandas as pd

### Reading CSV

In [63]:
pwd

'G:\\AI\\Bytewise fellowship\\TASKS\\Task14'

In [10]:
ls

 Volume in drive G is New Volume
 Volume Serial Number is 0621-3B4F

 Directory of G:\AI\Bytewise fellowship\TASKS\Task14

02/04/2023  08:27 am    <DIR>          .
02/04/2023  08:27 am    <DIR>          ..
02/04/2023  08:24 am    <DIR>          .ipynb_checkpoints
02/04/2023  08:22 am            66,124 09-Inputs-and-Outputs.ipynb
27/09/2020  12:14 am             5,022 example.xlsx
02/04/2023  08:27 am             4,437 Loading_Data.ipynb
08/02/2020  12:26 am               177 movie_scores.csv
               4 File(s)         75,760 bytes
               3 Dir(s)  145,304,215,552 bytes free

In [9]:
df = pd.read_csv('movie_scores.csv')
df

  first_name last_name   age  sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0    m              8.0              10.0
1        NaN       NaN   NaN  NaN              NaN               NaN
2       Hugh   Jackman  51.0    m              NaN               NaN
3      Oprah   Winfrey  66.0    f              6.0               8.0
4       Emma     Stone  31.0    f              7.0               9.0

In [13]:
df = df.dropna()
df

  first_name last_name   age sex  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0   m              8.0              10.0
3      Oprah   Winfrey  66.0   f              6.0               8.0
4       Emma     Stone  31.0   f              7.0               9.0

In [18]:
df.to_csv('save_csv')

## Reading HTML

In [53]:
tb = pd.read_html('https://en.wikipedia.org/wiki/World_population')

In [54]:
len(tb)

24

In [55]:
t = tb[15]
t

,".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:""[ ""}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:"" ]""}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vtePopulation",".mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:""[ ""}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:"" ]""}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vtePopulation.1"
0,Major topics,Demographics of the world Demographic transiti...
1,Biology andrelated topics,Population biology Population decline Populati...
2,Populationecology,Earth's energy budget I = P × A × T Kaya ident...
3,Society and population,Biocapacity Human overpopulation Malthusian ca...
4,Publications,Population and Environment Population and Deve...
5,Lists,Population and housing censuses by country Lar...
6,Events andorganizations,7 Billion Actions Church of Euthanasia Interna...
7,Related topics,Bennett's law Green Revolution Human impact on...
8,Commons Category,Commons Category

In [56]:
type(t)

pandas.core.frame.DataFrame

In [57]:
t.columns = ['alpha' , 'beta']

In [58]:
t

,alpha,beta
0,Major topics,Demographics of the world Demographic transiti...
1,Biology andrelated topics,Population biology Population decline Populati...
2,Populationecology,Earth's energy budget I = P × A × T Kaya ident...
3,Society and population,Biocapacity Human overpopulation Malthusian ca...
4,Publications,Population and Environment Population and Deve...
5,Lists,Population and housing censuses by country Lar...
6,Events andorganizations,7 Billion Actions Church of Euthanasia Interna...
7,Related topics,Bennett's law Green Revolution Human impact on...
8,Commons Category,Commons Category

In [60]:
t.to_html('save_html')

## Reading Excel

In [68]:
ex = pd.read_excel('example.xlsx')
ex

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [70]:
type(ex)

pandas.core.frame.DataFrame

In [71]:
df.to_excel('example.xlsx',sheet_name='snd_Sheet')